NODE_ENV=production
PORT=8888
API_BASE_PATH=
API_TOKEN=
ADMIN_TOKEN=
JWT_SECRET=change-me
DATABASE_URL=
APP_ANDROID_LATEST_VERSION=0.1.0
CHANNEL_LOCAL_PORT=15432
CHANNEL_REMOTE_HOST=127.0.0.1
CHANNEL_REMOTE_PORT=5432
CHANNEL_SSH_TARGET=user@example.com
